h5{
    opacity: 85%;
    font-weight: 300;
    font-size: 1.25rem;
}

h6 {
    font-weight: 500;
    padding: 0.35rem;
}

body {
    font-size: 0.90rem;
}

.card-header h6{
    margin-bottom: 0rem;
}

.download-button-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.downloadbutton{
    margin: 4px;
    opacity: 80%;
}
